@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Hurricane&family=Kanit:ital,wght@1,600&family=Poppins:ital,wght@0,400;0,800;1,200;1,300;1,600&family=Rubik:wght@600&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: "Poppins";
}

html,
body {
    scroll-behavior: smooth;
}

#root{    
    background-color: #1305A8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23310486' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%234f0365' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%236e0243' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%238c0122' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


input,
input::placeholder {
    font: 12px sans-serif;
}

.underline {
    width: 4rem;
    height: .4rem;
    background: #DC143C;
    margin-left: auto;
    margin-right: auto;
}

.varela-round{
    font-family: "Varela Round";
}

.company-name{
    font-family: "Poppins", sans-serif;
}


/* Add Product Page */

.add-product-selection {
    display: flex;
    flex-direction: row;
}

.add-product-image {
    display: flex;
    flex-direction: column;
    text-align: center;

}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media all and (max-width: 700px) {
    /* CSS rules here for screens lower than 600px */

        .company-logo{            
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            right: -30vw;
            width: fit-content;
        }

        .company-image {
            background-color: brown;
        }

        .menu-items{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contact-button{
            display: none;
        }

        .cart-button{
            position: absolute;
            top: 1rem;
            left: 0;
        }

        .cart-button:hover{
            background-color: transparent;
        }

        .profile-button{
            position: absolute;
            top: 1vh;
            right: 0;
        }


        /* Add product Page  */
        .add-product-selection {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

}

/* Main page */

.feature-product{
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap; 
  text-align: center;
}


